<div id="<%= dom_id transfer %>">
  <p>
    <strong>Title:</strong>
    <%= transfer.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transfer.amount %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= transfer.sender.code %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= transfer.receiver.code %>
  </p>

</div>
