<!DOCTYPE html>
<html>
  <head>
    <title>GithubActionTests</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= button_to 'Sign Out', logout_path, method: :delete %>
    <% else %>
      <% if (controller.controller_name == 'sessions' || controller.controller_name == 'users') && controller.action_name == 'new' %>
        <div style="display: flex; gap: 1rem;">
          <%= link_to "Home page", root_path %>
        </div>
      <% else %>
        <div style="display: flex; gap: 1rem;">
          <%= link_to "Sign in", login_path %>
          <%= link_to "Sign up", sign_up_path %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
